target-version = "py313"
line-length = 96
indent-width = 4

[lint]
select = ["ALL"]
ignore = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D105",
    "D107",
    "D202",
    "EM102",
    "ERA001",
    "FIX002",
    "INP001",
    "PLR2004",
    "S101",
    "S324",
    "TD002",
    "TD003",
    "TRY003",
]
fixable = ["ALL"]
